body{
    background: lavender;
}
h3{
    color: #373737ee;
    font-size: 22px;
    margin-top: 20px;
    line-height: 28px;
}

a{
    text-decoration: none;
    color: #39309e;
}
a:hover{
    color: #6234ef;
}
.pic1{
    width: 25%;
    margin: 2%;
    border-radius: 10px;
}

/* */
article{
    width: 800px; 
    margin: 150px auto;
    margin-right: 70px;
}
h1{
    color: #121213;
    font-size: 34px;
    margin-top: 66px;
    line-height: 40px;
}
p{
    margin-top: 8px;
    color: #2d2d2d;
    font-size: 18px;
    line-height: 24px;
}
h2{
    color: #2a2a2aee;
    font-size: 28px;
    margin-top: 50px;
    line-height: 34px;
}
.myblock{
    font-style: italic;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 30px; 
    font-size: 18px;
    line-height: 25px;
    background: rgb(206, 206, 246);
}