.menubar{
    width: 100%;
    height: 40px;
    background: white;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 5px 10px 2px rgba(192, 96, 229, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menuimg{
    width: 30%;
}
.mimg{
    padding-left: 20px;
}
.about{
    padding-right: 20px;
}
.index_item{
    width: 900px;
    background: white;
    margin: 20px auto;
    border: 1 solid #ccc;
    border-radius: 7px;
}
.index_img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 0px -60px;
}
.index_h1{
    width: 880px;
    margin: 10px auto;
}
.index_h3{
    width: 880px;
    margin-left: 10px;
}
